body{
    text-align:center;
    word-wrap:break-word;
    background-color:rgb(200,200,200);
    
}

#containerHome{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    position:absolute;
    width:100%;
    margin:0;
    top:0;
    left:0;
    padding:0;
    background-color:rgb(200,200,200);
}

#headHome{
    width:100%;
    line-height:20px;
    display:block;
    position:relative;
    background-color:rgb(180,180,180);
    margin:0 auto;
    padding-top:5px;
    padding-bottom:5px;
}

#headHome fieldset{
    display:inline-block;
    width:40%;
    margin:0 auto;
    background-color:rgb(150,150,150);
}

#headHome fieldset legend{
    color:rgb(255,255,255);
    border-right:1px solid black;
    border-left:1px solid black;
    border-radius:50%;
    background-color:rgb(0,0,255);
    padding-right:5px;
    padding-left:5px;
}

#headHome ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    list-style:none;
    padding-left:0;
}

#headHome li a{
    color:rgb(15, 71, 10);
    text-decoration:none;
    text-transform:uppercase;
}

#headHome li a:hover{
    text-decoration:underline;
}

#contentHome{
    width:70%;
    margin:20px auto;
    background:linear-gradient(to right, rgb(190,190,190), rgb(170,170,170) 25%);
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-decoration:underline;
}